.BookItem {
  width: 20vw;
  height: 35vw;
  min-width: 250px;
  max-width: 300px;
  margin: 0.5em;
  & img {
    width: 100%;
  }
}

.fiction_container, .nonfiction_container, .children_nonfiction_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  margin: auto;
  @media screen and (max-width: 600px) {
    justify-content: center;
    flex-direction: none;
  }
}

.booklist_container {
  padding-top: 0.75em;
  & h3 {
    margin-left: 1em;
  }
  & .pdf_link {
    color: #333333;
    padding: 0.5em;
    margin: 1em;
    transition: all 0.2s ease-in-out;
    &:visited {
      color: #333333;
    }
    &:hover {
      text-decoration: none;
      background-color: #DCB640;
      color: #DEDEDE;
    }
  }
}