.invitation_container {
  width: 90%;
  margin: auto;
  max-width: 750px;
  text-align: left;
}

.invitation_email_intro {
  padding: 1.5em;
  font-size: 2em;
  max-width: 700px;
  margin: auto;
}
.copy_button {
  margin: auto;
}

.invitation {
  text-align: center;
}


.thankyou_container {
  width: 90%;
  margin: auto;
  max-width: 750px;
  text-align: left;
}

.thankyou_email_intro {
  padding: 1.5em;
  font-size: 2em;
  max-width: 700px;
  margin: auto;
}

.copy_button {
  margin: auto;
}

.thankyou {
  text-align: center;
}