$dark-brown: #333333;

.password_reset_container{
  & p, h3{
    width: 90%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 0.5em;
  }

  & p {
    font-weight: 700;
  }

  & ul {
    max-width: 300px;
    margin: auto;
  }
}
.password_reset_form {
  width: 90%;
  margin: auto;
  padding-top: 3em;
  max-width: 500px;
  & label {
    margin-right: 0.8em;
    width: 40%;
    text-align: right;
  }
  & button {
    display: block;
    color: white;
    background-color: $dark-brown;
    border: solid 2px $dark-brown;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $dark-brown;
      background-color: #dedede;
    }
  }
}