$dark-brown: #333333;
.signup_intro_text {
  width: 90vw;
  max-width: 550px;
  margin: auto;
  font-size: 1.3em;
  text-align: center;
  padding: 1.5em; 
}

.signup_container, .login_container {
  & h4{
    padding: 0.5em;
    background-color: #dcb640;
    color: white;
    text-align: left;
  }
  width: 100%;
  max-width: 550px;
  margin: auto;
  margin-top: 2.5em;
  background-color: #ebebeb;
  text-align: center;
  & form {
    padding: 1em;
    & label {
      width: 25%;
      text-align: right;
      margin-right: 1em;
      @media screen and (max-width: 500px) {
        text-align: center;
        margin: auto;
        width: 100%;
        padding-bottom: 0.5em;
      }
    }
    & input {
      display: inline-block;
      width: 45%;
      @media screen and (max-width: 500px) {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
    & p {
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 0.5em;
      @media screen and (max-width: 500px) {
        width: 95%;
      }
    }
    & p:last-child{
      margin-top: 0;
    }
    & button {
      font-size: 1.5em;
      margin: auto;
      background-color: #474433;
      color: white;
      padding: 0 1.5em 0 1.5em;
      border: none;
      margin: auto;
      margin-top: 0.5em;
      display: block;
      transition: all 0.3s ease-in-out;
      border: solid 2px $dark-brown;
       &:hover {
        color: $dark-brown;
        background-color: #dedede;
      }
    }
  }
}

.signup_thanks {
  text-align: center;
  margin: auto;
  width: 80%;
  font-size: 1.4em;
  font-weight: 700;
}

.signup {
  & p {
    padding-top: 0.5em;
  }
}

.login {
  text-align: center;
  & button {
    display: block;
    color: white;
    background-color: $dark-brown;
    border: solid 2px $dark-brown;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $dark-brown;
      background-color: #dedede;
    }
  }
}

.reset_confirm_text {
  padding: 0.5em;
}