@charset "utf-8";
@import "normalize";
@import "header";
@import "tools";
@import "community";
@import "booklist";
@import "signup";
@import "email";
@import "password-reset";

$headerFont: "Helvetica Neue Condensed Bold", 'Arimo', sans-serif;
$bodyFont: "Helvetica Neue", 'Arimo', sans-serif;

$background-grey: #dedede;


.header{
  text-align: center;
  font-family: $headerFont;
  font-size: 4em;
  font-weight: 700;
  color: #474433;
  background-color: #dcb640;
  padding: 1em;
  & h2 {
    margin: auto;
    font-size: 2vw;
    color: white;
    width: 70%;
    padding: 0.75em;
  }
}

.landing_body {
  width: 85%;
  max-width: 800px;
  font-size: 1.25em;
  margin: auto;
  text-align: center;
  padding: 1.5em;
  & a {
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    margin-top: 1em;
    background-color: #474433;
    color: white;
    padding: 0 1.5em 0 1.5em;
    border: none;
    display: block;
    width: 8em;
    &:hover {
      text-decoration: none;
    }
  }
}
.container{
  width: 95%;
  max-width: 750px;
  margin: auto;
  font-family: $bodyFont;
  text-align: center;
  & .intro-button{
    text-align: center;
    padding: 1em;
    color: white;
    border: none;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    &:hover{
      color: black;
    }
  }
}

.intro-text{
  & p{
      font-size: 1.5em;
    }
}

.question-container{
  font-size: 1.4em;
  & p{
    margin-bottom: 1.5em;
  }
  & .q-number{
    padding: 0.2em;
    margin-right: 0.4em;
    float:left;
  }
  & .answer-button{
    padding: 0.6em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
      background-color: lighten(black, 90%);
    }
  }
}

.other-answer{
  & input{
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  & button{
    margin-left: 0.5em;
    font-size: 0.7em;
    background-color: white;
    border: solid 1px black;
    transition: all 0.2s ease-in-out;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}

.thanks{
  font-size: 1.5em;
  padding: 1em;
    & button{
    margin-left: 0.5em;
    font-size: 0.7em;
    background-color: white;
    border: solid 1px black;
    transition: all 0.2s ease-in-out;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}

html {
  height: 100%;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 142px; // Using footer height from example
  box-sizing: border-box; // Supported by IE8+ as well
}
.site_footer {
  text-align: center;
  position: absolute;
  color:white;
  background-color: black;
  bottom: 0;
  height: 4em;
  width: 100%;
  padding-top: 0.5em;
  & img{
    width: 10em;
    vertical-align: middle;
  }
}

.index {
  background-color: $background-grey; 
}